:host {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: lightgray;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

i {
  font-size: 30px;
  margin-right: 10px;
}

h1 {
  margin: 0;
}
