:host {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  width: inherit;
}

.app-content {
  display: flex;
  background-color: lightslategray;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
}
