/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  width: 100%;
  height: 100%;
  min-width: 300px;
  display: flex;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
